

<div class="message message_vinci">
  <div class="message__item message__item_vinci  message__item_compare br-chat">
    <table class="table table-bordered compare__table">
      <thead>
      <tr>
        <th>Comparing Phones</th>
        \{{#each images}}
        <th><img src="\{{this}}" height="50" width="25" alt="iphone6_min"></th>
        \{{/each}}
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">Product</th>
        \{{#each model_names}}
        <td>\{{this}}</td>
        \{{/each}}
      </tr>
      \{{#each comparison_attributes}}
        <tr>
          <th colspan = "1"  style="background-color: #d3d3d352; color: black;">\{{this.header}}</th>
        </tr>
        \{{#each this.other}}
        <tr>
          <th scope="row">\{{this.heading_text}}</th>
          \{{#each this.values}}
            <td>\{{this}}</td>
          \{{/each}}
        </tr>
        \{{/each}}
      \{{/each}}
      </tbody>
    </table>
  </div>
</div>