<div class="speaking speaking__overlay" style="display:none; height: 200%;" id="speech_overlay">
	<!--speaking__status_ready, speaking__status_listen, speaking__status_analyzing-->
	<button class="speaking__close"><i class="ion-ios-close-outline"></i></button>
	<div class="speaking__status speaking__status_ready">
		<div class="microphone">
			<img class="microphone__image microphone__image_default" src="assets/build/assets/images/microphone_grey.svg"
					 alt="">
			<img class="microphone__image microphone__image_active" src="assets/build/assets/images/microphone_blue.svg"
					 alt="">
		</div>
		<div class="speaking__description" id="speech_overlay_text">
			<h3>I am ready!</h3>
			<h4>Please speak :)</h4>
		</div>
	</div>
</div>


<div class="header header__chat">
	<div class="header__container container">
		<div class="row justify-content-between">
			<div class="header__logo">
				<a href="/">
					<img src="assets/build/assets/images/logo.svg" alt="Logotype">
				</a>
			</div>
			<div class="header__links">
				<a href="/" class="header__btn header__btn_mobile-home button button_white">
					<div class="header__btn_icon header__btn_icon-home"></div>
					<span class="header__btn_label">Home</span>
				</a>
				<div class="header__links_right header__btn_mobile-language">
					<div class="language header__btn button button_white selection selection_list">
						<h5 class="selection__name selection__name_current selection__padding">
							<span class="selection__name">English</span>
						</h5>
						<ul class="selection__list selection__list_hidden">
							<li class="selection__item">
								<span class="selection__name">English</span>
							</li>
						</ul>
					</div>
					<a href="/chat" class="header__btn header__btn_mobile-hide button button_white">
						<div class="header__btn_icon header__btn_icon-works"></div>
						<span class="header__btn_label">Talk to Vinci</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="wrapper-page">
	<div class="row">
		<div class="col-lg-9">
			<div class="wrapper-chat">
				<div class="chat">
					<div class="chat__content scrollable-container">

						<div class="chat__messages">
							{{#each chat_carousels}}
							<div class="message message_vinci">
                                <div class="message__title-block">
                                	<span class="message__title">{{this.text}}</span>
                            	</div>
                       
								<div class="owl-carousel owl-theme">

								{{#each carousel_phones}}

									<div class="message__item message__item_vinci br-chat message__category category view_product">
										<button class="button helpers__item view_product__button" onclick="get_specifications_full(event)">View product</button>
										<div class="row">
											<div class="category__image col-4">
												<img src="{{this.image_urls.medium}}" alt="">
											</div>
											<div class="category__description col-8">
												<h4 class="category__type">{{{this.product_basic_info.productBrand_normalized}}}</h4>
												<h3 class="category__name">{{{generate_title_helper}}}</h3>
												<div class="category__prices-box">
													<span>Rs.{{{generate_price_helper}}}</span>
													<span class="old">Rs.{{{generate_old_price_helper}}}</span>
												</div>
												<div class="facebook-status characteristic__facebook-status">
													<ul class="facebook-status__list">
														<li class="facebook-status__item like_reaction">
															<a href="#" class="facebook-status__link" onclick="react(event,'like','{{this.product_basic_info.normalized_name}}')">
																<img src="assets/build/assets/images/facebook-like.svg" alt="" class="facebook-status__icon">
															</a>
															<span>{{{get_reactions this "like"}}}</span>
														</li>
														<li class="facebook-status__item love_reaction">
															<a href="#" class="facebook-status__link" onclick="react(event,'love','{{this.product_basic_info.normalized_name}}')">
																<img src="assets/build/assets/images/facebook-love.svg" alt="" class="facebook-status__icon">
															</a>
															<span>{{{get_reactions this "love"}}}</span>
														</li>
														<li class="facebook-status__item angry_reaction">
															<a href="#" class="facebook-status__link" onclick="react(event,'angry','{{this.product_basic_info.normalized_name}}')">
																<img src="assets/build/assets/images/facebook-angry.svg" alt="" class="facebook-status__icon">
															</a>
															<span>{{{get_reactions this "angry"}}}</span>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>

								{{/each}}

								</div>
							</div>
							{{/each}}
							<!-- <div class="message message_vinci">
                                <div class="message__title-block">
                                	<span class="message__title">Collections</span>
                                </div>
								<div class="owl-carousel owl-theme">
									<div class="message__item message__item_vinci br-chat message__collection collection">
										<div class="row align-items-stretch">
											<div class="collection__image col-5">
												<img src="assets/build/assets/images/latestPhones.jpg" alt="">
											</div>
											<div class="collection__description col-7">
												<h3 class="collection__name">Latest phones</h3>
												<div class="collection__text-block">
													<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
												</div>
											</div>
										</div>
									</div>
									<div class="message__item message__item_vinci br-chat message__collection collection">
										<div class="row align-items-stretch">
											<div class="collection__image col-5">
												<img src="assets/build/assets/images/bestCamera.jpg" alt="">
											</div>
											<div class="collection__description col-7">
												<h3 class="collection__name">Best camera phones</h3>
												<div class="collection__text-block">
													<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
												</div>
											</div>
										</div>
									</div>
									<div class="message__item message__item_vinci br-chat message__collection collection">
										<div class="row align-items-stretch">
											<div class="collection__image col-5">
												<img src="assets/build/assets/images/latestPhones.jpg" alt="">
											</div>
											<div class="collection__description col-7">
												<h3 class="collection__name">Latest phones</h3>
												<div class="collection__text-block">
													<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div> -->
						</div>
					</div>
					<div class="chat__bottom">
						<div class="chat__container">
							<div class="helpers">
							</div>
							<div class="send">
								<input class="send__input" placeholder="Type your message or tap the 'Talk to Vinci' button">
								<button class="btn send__btn" type="submit" id="send_chat">Send</button>
								<button class="btn send__btn send__btn_speak" onclick="start_speech()">
									Talk to Vinci
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-3">
			<div class="info-boxes">
				<div class="info-box info-box__news">
					<div class="info-box__header"><span>Popular questions</span></div>
					<ul class="info-box__list">
						<li class="info-box__item">
							<a class="info-box__news-title" href="#" onclick="send_question(event)">iPhone X best price</a>
							<!-- <div class="info-box__text-box">
								<p class="info-box__text">Show me Samsung Galaxy S8 and iPhone X</p>
							</div> -->
						</li>
						<li class="info-box__item">
							<a class="info-box__news-title" href="#" onclick="send_question(event)">Google Pixel 2 camera details</a>
							<!-- <div class="info-box__text-box">
								<p class="info-box__text">Tell me about the camera of Google Pixel 2</p>
							</div> -->
						</li>
						<li class="info-box__item">
							<a class="info-box__news-title" href="#" onclick="send_question(event)">Phones between 10000 and 15000 Rupees</a>
							<!-- <div class="info-box__text-box">
								<p class="info-box__text">Suggest phones between 10000 and 150000 Rupees</p>
							</div> -->
						</li>
						<li class="info-box__item">
							<a class="info-box__news-title" href="#" onclick="send_question(event)">Compare Oppo F5 and Vivo V5</a>
							<!-- <div class="info-box__text-box">
								<p class="info-box__text">Compare Oppo F5 and Vivo V5</p>
							</div> -->
						</li>
						<li class="info-box__item">
							<a class="info-box__news-title" href="#" onclick="send_question(event)">Compare the camera of Galaxy C7 Pro and Samsung Galaxy C9 Pro</a>
							<!-- <div class="info-box__text-box">
								<p class="info-box__text">Compare the camera of Oppo F5 and Vivo V5</p>
							</div> -->
						</li>
						<li class="info-box__item">
							<a class="info-box__news-title" href="#" onclick="send_question(event)">Video review of Vivo V7</a>
							<!-- <div class="info-box__text-box">
								<p class="info-box__text">Show me the video review of Google Pixel 2</p>
							</div> -->
						</li>
						<li class="info-box__item">
							<a class="info-box__news-title" href="#" onclick="send_question(event)">Latest phones</a>
							<!-- <div class="info-box__text-box">
								<p class="info-box__text">Show me latest phones</p>
							</div> -->
						</li>

					</ul>
				</div>

				<div class="boxes-carousel owl-carousel owl-them">
					{{#each side_carousels}}
						<div class="info-box info-box__slide">
							<div class="info-box__header"><span>{{this.text}}</span></div>
							<ul class="info-box__list">
								{{#each carousel_phones}}
								<li class="info-box__item">
									<div class="row align-items-center">
										<div class="info-box__image col-2">
											<img src="{{this.image_urls.medium}}" alt="">
										</div>
										<div class="info-box__description col-10">
											<a class="info-box__link" href="#">{{this.product_basic_info.normalized_name}}</a>
											<div class="info-box__rs">
												<span>Ps.{{{generate_price_helper}}}</span>
												<span class="info-box__rs_old">Ps.{{{generate_old_price_helper}}}</span>
											</div>
										</div>
									</div>
								</li>
								{{/each}}
							</ul>
						</div>
					{{/each}}
					
				</div>
				<div class="info-box">
					<div class="info-box__header"><span>Show us Some Love</span></div>
					<ul class="info-box__list">
						<li class="info-box__item">
							<a class="twitter-share-button"
								 href="https://twitter.com/intent/tweet">
								Tweet</a>
							<div class="fb-like" data-href="https://www.facebook.com/hellotovinci/" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
							<div id="fb-root"></div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- Handlebars template for the phone special chat element -->
<script id="handlebars-case-100" type="text/x-handlebars-template">
	{{>specifications}}
</script>

<script id="handlebars-case-100-summary" type="text/x-handlebars-template">
	{{>specifications_summary}}
</script>

<script id="handlebars-case-200" type="text/x-handlebars-template">
	{{>comparison}}
</script>

<script id="handlebars-case-120" type="text/x-handlebars-template">
	{{>youtube_video}}
</script>

<script id="handlebars-case-104" type="text/x-handlebars-template">
	{{>attributes}}
</script>

<script id="attributes-text-reply" type="text/x-handlebars-template">
	{{>attributes_text_reply}}
</script>

<script id="handlebars-case-error" type="text/x-handlebars-template">
	{{>error_item}}
</script>

<script id="handlebars-case-1x" type="text/x-handlebars-template">
	{{>main_text_reply}}
</script>

<script id="handlebars-suggested-questions" type="text/x-handlebars-template">
	{{>suggested_questions}}
</script>

<script id="handlebars-carousel-item" type="text/x-handlebars-template">
	{{>carousel_item}}
</script>

<script id="handlebars-auto-complete-reply" type="text/x-handlebars-template">
	{{>auto_complete_reply}}
</script>


<script id="handlebars-case-400" type="text/x-handlebars-template">
	{{>text_reviews}}
</script>


<script type="text/javascript">

	document.addEventListener('DOMContentLoaded', function () {
		//userAvatar
		var vinciAvatar = '/assets/build/assets/images/vinci-mes.svg';

		var text_reply = "Hello. Great to have you here. Welcome to hello VINCI (Beta)";

		$('.chat__messages')
				.append(`<div class="message message_vinci">
	    	<div class="message__item message__item_vinci br-chat" style="width: fit-content;">
	      		<p>${text_reply}</p>
			</div>
	  	</div>`);

		$('.chat__messages').scrollTop($('.chat__messages')[0].scrollHeight);

		var text_reply = "Let's get started!";

		$('.chat__messages')
				.append(`<div class="message message_vinci">
	    	<div class="message__item message__item_vinci br-chat" style="width: fit-content;">
	      		<p>${text_reply}</p>
			</div>
			<div >
				<ul class=" suggestion owl-carousel owl-theme">
					<li class="suggestion__item br-chat" id="demo-yes" onclick="send_question(event)">Show me iPhone 8</li>
					<li class="suggestion__item br-chat" id="demo-no" onclick="send_question(event)">Show me Samsung Galaxy S8</li>
					<li class="suggestion__item br-chat" id="demo-no" onclick="send_question(event)">Compare iPhone 8 and Samsung Galaxy S8</li>
					<li class="suggestion__item br-chat" id="demo-no" onclick="send_question(event)">Suggest a phone with 4gb ram</li>
					<li class="suggestion__item br-chat" id="demo-no" onclick="send_question(event)">Phones with bezel less display</li>
				</ul>
			</div>
	  	</div>`);

		$('.chat__messages').scrollTop($('.chat__messages')[0].scrollHeight);


	}, false);


</script>

<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); 
  js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.11&appId=509046159432598';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<script>window.twttr = (function (d, s, id) {
	var js, fjs = d.getElementsByTagName(s)[0],
			t = window.twttr || {};
	if (d.getElementById(id)) return t;
	js = d.createElement(s);
	js.id = id;
	js.src = "https://platform.twitter.com/widgets.js";
	fjs.parentNode.insertBefore(js, fjs);

	t._e = [];
	t.ready = function (f) {
		t._e.push(f);
	};

	return t;
}(document, "script", "twitter-wjs"));</script>